body {
  margin: 0;
  height: 1vh;
  background-color: rgb(13, 13, 86);
  display: flex;
  justify-content: center;
  padding-top: 10px;
  background-image: url(./Components/Images/bg.jpg);
}

.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}